.hidden {
    display: none !important;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    color: white;
}

.card h3 {
    font-size: 2.4rem;
}

button {
    padding: 8px 12px;
    font-size: 18px;
    background-color: blueviolet;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 12px;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.body .body-item {
    margin-top: 16px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-container, .box-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(28, 28, 28, 0.8);
}

.status {
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 32px;
}

.box-container .box {
    background-color: white;
    width: 420px;
    height: 220px;
    color: #000;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;

}

.box .body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .title {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px
}

.box .box-footer {
    display: flex;
    justify-content: end;
    border-top: 1px solid #ccc;
}

.box-footer #ha-cancel-btn {
    margin-right: 8px;
}

select {
    width: 120px;
    margin-left: 12px;
}

.btn2 {
    font-size: 16px;
}